#root {
    height: 100%;
}

@font-face {
    font-family: 'yofont';
    src: url('/assets/icons/iconfont.woff') format('woff'),
        url('/assets/icons/iconfont.ttf') format('truetype');
}
img {
    width: 100%;
}
body {
    font-size: 14px;
    color: #777;
    font-family: PingFangSC-Regular,Hiragino Sans GB,sans-serif;
}