.detailContainer {
    .movie-detail {
        height: 188px;
        position: relative;
        cursor: pointer;

        .movie-filter {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: #333;
        }

        .poster-bg {
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
            position: absolute;
            -webkit-filter: blur(.2rem);
            filter: blur(.2rem);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: .55;
        }

        .detail {
            height: 150px;
            padding: 19px 30px 19px 15px;

            .poster {
                img {
                    width: 110px;
                    height: 150px;
                    box-sizing: border-box;
                }

            }

            .content {
                overflow-x: hidden;
                margin-left: 12.5px;
                line-height: 1;
                color: #fff;

                .title {
                    font-size: 20px;
                    margin-top: 2px;
                    font-weight: 700;
                    overflow: hidden;
                }
                .score {
                    font-size: 18px;
                    font-weight: 700;
                    color: #fc0;
                    margin-top: 11px;
                    span.no-score {
                        font-size: 12px;
                        color: #fff;
                        opacity: .8;
                    }
                }
                .type{
                    >span {
                        vertical-align: top;
                    }
                    .type-group {
                        display: inline-block;
                        width: 42px;
                        opacity: .85;
                    }
                
                }
            }
        }
        .arrow-g {
            position: absolute;
            width: 10px;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}
#showDays {
    width: 100%;
    height: 45px;
    overflow-x: scroll;
    background-color: #fff;
    #timeline {
        overflow-x: scroll;
        padding: 0;
        margin: 0;
        height: 45px;
        white-space: nowrap;
        .showDay {
            position: relative;
            display: inline-block;
            width: 115px;
            line-height: 43px;
            margin-left: 4.5px;
            font-size: 14px;
            text-align: center;
            list-style: none;
            color: #666;
        }
        .showDay.chosen {
            border-bottom: 2px solid #f03d37;
            color: #f03d37;
        }
    }
}
#root .movie-detail .detail .content .pubDesc,
#root .movie-detail .detail .content .snum,
#root .movie-detail .detail .content .src,
#root .movie-detail .detail .content .title-en-name,
#root .movie-detail .detail .content .type {
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    opacity: .8;
}
.detail-root{
    height: 100%;
    overflow-y:scroll;
}
.fixedNav #showDays{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
}
.fixedNav .nav-wrap {
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 100;
    background: #fff;
}
.mask{
    width:100%;
    height:100%;
    background: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    top:0;
    left:0;
    z-index:999;
    span{
        display: block;
        width: 70%;
        height:15%;
        background: white;
        position: absolute;
        top: 30%;
        left: 15%;
        border-radius: .05rem;
        p{
            text-align: center;
            line-height: 40px;
            &:nth-child(2){
                color: #f03d37;
                font-size: .18rem;
                line-height: 60px;
            }
        }
    }
}